### INIT (DO NOT TOUCH)
if [ -f ".env" ]; then dotenv; else echo "no .env file"; fi
PATH_add "$PWD/bin"

## PROJECT CONFIG
export SERVICES=postgres:db
export PROJECTS=api
export PROJECT_API_GIT=vertexportus/moneycloud-api.git
export PROJECT_API_SERVICES=phoenix:api

### FINISH (DO NOT TOUCH)
# base name for docker-compose images
if [ -n "$BASE_NAME" ]; then export COMPOSE_PROJECT_NAME=$BASE_NAME; else export COMPOSE_PROJECT_NAME=${PWD##*/}; fi
# docker-compose config combination generation
readarray -t compose < <( bin/internal/gen-compose.py )
for c in "${compose[@]}"; do
    if [[ $c =~ ^export ]] && ! [[ $c =~ ';' ]]; then eval $c; else echo "error: $c"; fi
done
