if [ -f ".env" ]; then dotenv; else echo "no .env file"; fi
PATH_add "$PWD/bin"

export PROJECT_SMART=git@github.com:rafapaulin/smarti18n.git
export PROJECT_GREETER=git@github.com:vertexportus/portus-greeter-theme.git
